- if current_reader.groups.any?
  .dashboard_module
    %h3
      = t('reader_extension.dashboard.groups')
    %ul.groups
      - current_reader.groups.arrange.each do |group, children|
        = render_group_node(group, :simple => true, :children => children)
